<a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email&client_id=164293605540-99it3bm6sa3qcsptu4c686i9uea6s2rj.apps.googleusercontent.com&response_type=code&redirect_uri=http://localhost:8080/oauth2/callback/google&access_type=offline">Google
    Login</a><br>
<!--<a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=sCfhQHgPVQFFf8RTGjVe&redirect_uri=http://localhost:8080/redirect/oauth">Naver-->
<!--    Login</a>-->
